* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid yellow; */
}
html {
  scroll-behavior: smooth;
}
.harder {
  width: 100%;
  height: 105px;
  background: #1e1e1e;
  color: white;
  position: sticky;
  top: 0;
  z-index: 99999;
  border: 1px solid #333333;
}
.image-one {
  padding: 40px 0 0 70px;
  height: auto;
  cursor: pointer;
}
.harder > ul > li {
  list-style: none;
  display: inline-block;
}
.harder > ul {
  margin-left: 480px;
  margin-top: -25px;
}
.harder a {
  text-decoration: none;
  color: #fff;
  margin-left: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: Barlow, Yantramanav, "Open Sans", sans-serif;
}
.harder > ul > li > a:hover {
  border-bottom: 1px solid #00aaff;
  padding-bottom: 41px;
}
.image-two {
  display: inline-block;
  width: 200px;
}
.image-two > img {
  margin-left: 25px;
  vertical-align: middle;
}
/* ==================== */
.jet {
  background-image: url("./header-banner-kurs-pilotazu.jpg");
  background-size: cover;
  background-position: 100% 80%;
  width: 100%;
  height: 90vh;
  background-color: #1e1e1e;
  padding: 1px;
}
.heading > h2 {
  padding-top: 35px;
}
.heading > h2,
.heading > h1 {
  text-align: center;
  font-size: 29px;
  font-family: Barlow, Helvetica, Arial, Lucida, sans-serif;
  margin-top: 30px;
}
.heading {
  width: 70%;
  height: 100px;
  margin-top: 50px;
  margin-left: 15%;
}
.heading > h2:before {
  content: "\f105";
  font-family: fontAwesome;
  padding-right: 10px;
  color: #00aaff;
  font-size: 17px;
}
.heading > h2:after {
  content: "\f104";
  font-family: fontAwesome;
  padding-left: 10px;
  color: #00aaff;
  font-size: 17px;
}
.heading > h2 {
  color: #00aaff;
}
.heading > h1 {
  color: white;
  font-size: 30px;
}
span:before {
  content: "\f102";
  font-family: fontAwesome;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 99999;
  bottom: 125px;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  color: #fff;
}
/* <!-- =======================BECOME A PILOT===================== --> */

.become {
  width: 100%;
  height: 93vh;
}
.become > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 40px;
  color: #333333;
  letter-spacing: 2px;
  padding-bottom: 50px;
}

.become > h1:before {
  content: "\f105";
  font-family: fontAwesome;
  padding-right: 10px;
  color: #00aaff;
  font-size: 17px;
}
.become > h1:after {
  content: "\f104";
  font-family: fontAwesome;
  padding-left: 10px;
  color: #00aaff;
  font-size: 17px;
}
.pilot {
  width: 49%;
  display: inline-block;
  height: 70vh;
  vertical-align: top;
}
.pilot-a {
  width: 85%;
  height: 100%;
}
.pilot-a > img {
  width: 100%;
  height: 100%;
}
.pilot-don {
  padding: 80px 110px 0 80px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
.pilot-don > p {
  font-size: 20px;
  padding-bottom: 30px;
  line-height: 26px;
}
.pilot-don > span {
  color: #00aaff;
  font-size: large;
}
.become > h2 {
  text-align: center;
  padding: 50px;
}
.become > h2:before {
  content: "\f105";
  font-family: fontAwesome;
  padding-right: 10px;
  color: #00aaff;
  font-size: 17px;
}
.become > h2:after {
  content: "\f104";
  font-family: fontAwesome;
  padding-left: 10px;
  color: #00aaff;
  font-size: 17px;
}
/* <!-- ====================contact us=============== --> */

.question {
  width: 100%;
  height: 83vh;
}
.got {
  width: 42%;
  height: 83vh;
  display: inline-block;
  vertical-align: top;
}
.got > img {
  width: 100%;
  height: 100%;
}
.got-one {
  width: 57%;
}
.got > h1 {
  padding-top: 80px;
  padding-left: 70px;
  font-family: Barlow, Yantramanav, "Open Sans", sans-serif;
  color: #393739;
}
.got > h1:before {
  content: "\f104";
  font-family: fontAwesome;
  padding-right: 10px;
  color: #00aaff;
  font-size: 17px;
}
.got > p {
  padding-left: 70px;
  box-sizing: border-box;
  width: 700px;
  padding-top: 20px;
  color: #333333;
}
.text-inputs {
  width: 90%;
  height: 55vh;
  margin: auto;
  margin-top: 20px;
  padding-left: 20px;
}
.text-inputs > input {
  width: 350px;
  margin-top: 20px;
  padding: 20px;
  margin-left: 10px;
  outline: none;
  border: 1px solid #cccccc;
}
.text-area > textarea {
  height: 150px;
  width: 95%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  outline: none;
  border: 1px solid #cccccc;
}
/* <!-- =====================legal================== --> */

.legal {
  width: 100%;
  height: 60vh;
  background: #1e1e1e;
}
.legal-black {
  width: 90%;
  height: 30vh;
  margin: auto;
}
.legal-black > img {
  padding: 80px 0 0 80px;
  display: inline-block;
}
.line {
  width: 35%;
  display: inline-block;
}
.about-card {
  display: inline-block;
  margin-left: 80px;
  width: 110px;
  vertical-align: middle;
  height: 210px;
  line-height: 40px;
  padding-top: 60px;
}
.about-card > strong {
  color: white;
  padding: 0;
}
.line2 {
  width: 55%;
  display: inline-block;
}
.about-card > p {
  color: #cccccc;
  font-family: Yantramanav, sans-serif;
}
.place {
  display: inline-block;
  margin-left: 50px;
  color: #fff;
}
.place > h1 {
  font-size: 22px;
}
.place > h1,
.place > input {
  margin-top: 30px;
  margin-left: -25px;
}
.place > input {
  width: 550px;
  padding: 20px;
  height: 50px;
  border-radius: 5px;
  outline: none;
}
.place > button {
  display: block;
  margin-top: 10px;
  width: 550px;
  padding: 15px;
  height: 50px;
  border-radius: 5px;
  font-size: 17px;
  margin-left: -25px;
}

/* <!-- =============footer--======= --> */

.footer {
  width: 100%;
  height: 20vh;
  background: #1e1e1e;
}
.footer-line {
  width: 85.4%;
  background-color: #cccccc;
  height: 1px;
  margin-left: 110px;
}
.footer p {
  font-family: Yantramanav, sans-serif;
  color: #cccccc;
  padding: 30px 0 0 105px;
}
.footer i {
  float: right;
  color: #cccccc;
  font-size: 30px;
}
.footer .fa-square-youtube {
  position: relative;
  bottom: 20px;
  right: 115px;
}
.fa-square-facebook {
  right: 110px;
  position: relative;
  bottom: 20px;
}
